@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: Authentic;
  src: url(authentic-woff/AUTHENTICSans-90.woff);
}

/*———————————————GLOBAL STYLES———————————————*/


body {
  margin: 20px 0px 40px 40px;
  font-weight: normal;
  /* font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px; */
  font-family: "Authentic", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;

  color: #173660;
  background: #e8e7e1;
  letter-spacing: 0.5px;

  user-select: none;
}

.header {
  padding: 20px 0px;
  max-width: 680px;
}

#container {
  padding-top: 20px;
  margin-bottom: 100px;
  max-width: 720px;
  letter-spacing: 0.5px;

}

.row {
  border: 1px solid #173660;
  padding: 10px 30px;
  margin: 20px 0;
  transition: all 0.25s ease;
  border-radius: 8px;
  font-size: 16px;
  cursor: help;

}


.row:hover {
  background: #173660;
  color: #e8e7e1;
}

.#173660 {
  background: #173660;
  color: #e8e7e1;
  cursor: default;
}


.#173660 a {
  color: #e8e7e1;
  border-bottom: 1px solid #e8e7e1;


}

.row a:hover {
  opacity: 0.5;
  transition: 0.2s opacity;
}

.row:hover a {
  color: #e8e7e1;
  border-bottom: 1px solid #e8e7e1;
}

.row:hover .note {
  color: #e8e7e1;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.item-heading {
  font-weight: normal;
  font-family: 'courier prime';
  letter-spacing: 0px;
  font-size: 20px;
  padding: 16px 0px;
}



/* row contents */
.contents {
  padding: 0px 0px 40px 0px;
  max-width: 600px;
}

.button {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Courier Prime', 'Courier', monospace;
  text-transform: uppercase;
  background: #e8e7e1;
  border: 1px solid #173660;
  border-radius: 20px;
  padding: 4px 8px;
  color: #173660;
  right: 0px;
  margin-left: 20px;
  margin-bottom: 8px;

  transition: all 0.1s ease;

}

.button:hover {
  background-color: #173660;
  border: 1px solid #e8e7e1;
  color: #e8e7e1;

}

.doc {
  width: 800px;
  margin: auto;
  height: 900px;
  border: 0px;
  box-shadow: 4px 4px 12px thistle;
}

.short {
  height: 400px;
}

/* journaling prompt images */
.p-image {
  width: auto;
  max-height: 300px;
  padding-top: 20px;

}

.schedule img {
  filter: grayscale(100%);
}


/*———————————————TYPOGRAPHY STYLES———————————————*/

::selection {
  background: #222222;
  color: #173660;
}

ul,
li {
  padding-left: 0px !important;
}

a {
  text-decoration: none;
  color: #173660;
  border-bottom: 0.5px solid #173660;
}

p {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  font-family: 'courier prime';
  letter-spacing: 0px;

}

h2 {
  font-weight: normal;
  font-size: 20px;

}

h3 {
  font-family: 'Courier Prime', 'Courier', monospace;
  font-size: 14px;
  font-weight: normal;
  padding-top: 20px;
  text-transform: uppercase;

}

.small {
  font-family: 'courier prime', 'courier', monospace;
  font-size: 14px;

}

/* FONT SPAN styles */

.note {
  font-family: 'Courier Prime', 'Courier', monospace;
  font-size: 14px;
  text-transform: uppercase;
}

.imageCaption {
  font-family: 'Courier Prime', 'Courier', monospace;
  font-size: 12px;
  font-style: italic;
  max-width: 400px;
}

#cp {
  color: #173660;
  border-bottom: 1px solid #173660;
}

#cp:hover {
  color: thistle;
  border-bottom: 1px solid thistle;

  opacity: 0.9;
  transition: 0.2s all;
  cursor: help;
}

/* @media only screen and (max-width: 960px) {
  body {
    margin: 20px 40px;
  }
} */
@media only screen and (max-width: 768px) {
  body {
    margin: 0px 20px;
  }

  .button {
    margin-left: 10px;
  }

  .row {
    flex-wrap: wrap;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .doc {
    width: 100%;
  }

  .p-image {
    width: 100%;
    max-height: 500px;
  }

  .imageCaption {
    width: 100%;
  }

  .item-heading {
    width: 100%;
  }

  .contents {
    margin-left: 0px;
  }

  /* .dueSchedule {
    margin: 5px 0px 10px 0;
} */

}